.span {
  color: var(--primary-color);
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
  user-select: none;
}

.btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: var(--box-shadow-hover);
}

.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 3px solid var(--primary-color);
}

.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.header nav ul li {
  margin: 0 10px;
}

.bookGrid,
.coursesGrid {
  margin: 50px 20px;
}

.bookGrid h3,
.coursesGrid h3 {
  margin-top: 20px;
}

.bookGrid img,
.coursesGrid img {
  width: 500px;
}

.coursesGrid {
  display: flex;
  flex-direction: column-reverse;
}

.newsletter {
  margin: 20px;
}

.newsletterForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0 0;
}

.newsletterForm input[type="email"] {
  padding: 12px;
  margin: 10px 0;
  border: none;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.newsletterForm .smallText {
  margin-top: 20px;
}

.footer {
  padding: 20px;
  border-top: 2px solid var(--primary-color);
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer ul li {
  margin: 10px;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }

  .header nav ul {
    margin: 0;
  }

  .bookGrid,
  .coursesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
  }

  .coursesGrid {
    margin: 100px 20px;
  }
}

@media (min-width: 1280px) {
  .btn {
    margin-top: 10px;
  }

  .container {
    max-width: 1100px;
    margin: auto;
  }

  .header {
    justify-content: space-between;
    padding: 20px 0;
  }

  .header nav ul li {
    margin: 0 10px 0 0;
  }

  .bookGrid,
  .coursesGrid,
  .newsletter {
    margin: 100px 0;
  }
}
